<div class="container">
  <h1 class="text-center">Choose Your Avatar</h1>
  <div class="card-user text-center">
    <%= cl_image_tag @kid.avatar.photo.key, class:"avatar shadow" %>
    <%# <img class="avatar" alt="user" src="https://cdn.pixabay.com/photo/2017/04/15/04/36/incognito-2231825_1280.png"> %>
    <%= @kid.nickname %>
  </div>

  <ul>
  <% @avatars.each do |avatar| %>
    <li>
    <%= cl_image_tag avatar.photo.key, class:"avatar shadow" %>
    <h2><%= avatar.name %></h2>
    </li>
  <% end %>
  </ul>

</div>
