<div class="container text-center">
  <div>
    <h1>Who is learning?</h1>
  </div>
  <div>
    <% @kids.each do |kid| %>
    <div class="d-flex-column justify-content-center my-5">
      <ul class="text-center align-items-center" type="none">
        <li>
          <img class="avatar" alt="avatar" src="https://i2-prod.mylondon.news//article18152052.ece/ALTERNATES/s1200b/0_Moana.jpg">
          <%= kid.nickname %>
        </li>
      </ul>
    </div>
    <% end %>
    <i class="fa-solid fa-circle-plus"></i>
  </div>
</div>
