<div class="container text-center">

  <div>
    <h1><strong>Who is ready to play?</strong></h1>
  </div>


    <% @kids.each do |kid| %>
      <%= link_to  kid_games_path(kid), class:"text-decoration-none" do %>
        <div class="m-5 kids-card">
          <img class="avatar shadow" alt="avatar" src="https://i2-prod.mylondon.news//article18152052.ece/ALTERNATES/s1200b/0_Moana.jpg">
          <h2 class="my-1"><strong><%= kid.nickname %></strong></h2>
        </div>
      <% end %>
    <% end %>

<footer>
    <%= link_to " add another kid", new_kid_path, class:"add-icon text-decoration-none" %>
</footer>
</div>
