<div class="container">
    <%= simple_form_for @kid do |f| %>
    <%= f.input :nickname, :label => 'nickname' %>
    <%= f.input :age, as: :integer %>
    <%= f.button :submit, "Let's play!", class:"btn btn-brown" %>
  <% end %>
</div>
