
<div class="card-user text-center">
  <img class="avatar" alt="avatar" src="https://i2-prod.mylondon.news//article18152052.ece/ALTERNATES/s1200b/0_Moana.jpg">
  <%= link_to "Change avatar", kid_path, class:"text-decoration-none" %>
  <%= @kid.nickname %>
</div>
