#full-star {
color: rgb(255, 251, 6);
font-size: 56px;
}

#empty-star {
color: rgb(197, 166, 166);
font-size: 56px;
}

#back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(194, 133, 3);
  font-size: 60px;
}

.backtick {
  color: rgb(194, 133, 3);
  font-size: 60px;
}
