.log-in {
  margin-top: 100px;
}

.log-in-text {
  color: rgb(89, 177, 68);
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.login-logo {
  display: block;
  margin: auto;
  margin-top: 30px;
  max-width:150px;
  max-height:100px;
  width: auto;
  height: auto;
}
