  <div class="container" data-controller="game">
    <h1><%= @game.name %></h1>
    <h1>MIGUELION VIDEO HERE</h1>
    <footer>
      <%= link_to kid_games_path do %>
        <i class="fa-solid fa-map"></i>
      <% end %>

      <%= link_to "Let's play!", kid_game_path(@game) %>
    </footer>
  </div>
