  <div class="container" data-controller="game">

    <div class="d-flex justify-content-center mt-4">

      <%= cl_video_tag @game.videos[10].key, :controls => true, width:"350px", class:"card-lecture shadow" %>

    </div>

    <div class="mt-5 d-flex justify-content-center">
      <%= link_to "Let's play!", kid_game_path(@game), class:"btn-brown" %>
    </div>
  </div>
