<div class="map">
  <div class="games container text-center py-5">
    <% game1 = @games[0] %>
    <% game2 = @games[1] %>
    <% game3 = @games[2] %>
    <% game4 = @games[3] %>
    <%= link_to lecture_kid_game_path(game1.kid, game1), id: "game1" do %>
      <i class="fa-solid fa-house-flag fa-beat-fade fa-2xl"></i>
    <% end %>
    <%= link_to lecture_kid_game_path(game2.kid, game2), id: "game2" do %>
      <i class="fa-solid fa-umbrella-beach fa-2xl"></i>
    <% end %>
    <%= link_to lecture_kid_game_path(game3.kid, game3), id: "game3" do %>
      <i class="fa-solid fa-mountain-sun fa-2xl"></i>
    <% end %>
    <%= link_to lecture_kid_game_path(game4.kid, game4), id: "game4" do %>
      <i class="fa-solid fa-trophy fa-2xl"></i>
    <% end %>
  </div>
</div>
