<%= render "shared/sidebar", kid: @kid %>

<% if @kid.total_score == 0 %>
  <%= render "colors_lecture", game: @game %>

<% elsif @kid.total_score == 1 %>
 <%= render "colors_lecture", game: @game %>
<% elsif @kid.total_score == 2 %>
<%# write the partial lecture for the third game %>
  <h2>You are awesome!</h2>
<% elsif @kid.total_score == 3 %>
<%# write the partial lecture for the fourth game %>
  <h2>You are awesome!</h2>
<% end %>
