<div class="container" data-controller="game">

  <h1><%= @game.name %></h1>

  <div class="card-sound" data-action="click->game#playVermelho">
    <h5>VERMELHO
      <i class="fa-solid fa-play"></i>
    </h5>
  </div>

  <div class="cards">

    <div class="row">

      <div class="card col-4 mx-2" data-action="click->game#playAzul">
        <p>Azul</p>
      </div>

      <div class="card col-4" data-action="click->game#playAmarelo">
        <p>Amarelo</p>
      </div>

    </div>

    <div class="row mt-4">

      <div class="card col-4 mx-2" data-action="click->game#playVerde">
        <p>Verde</p>
      </div>

      <div class="card col-4" data-action="click->game#playWin">
        <p>Vermelho</p>
      </div>

    </div>
  </div>

  <footer>
    <%= link_to lecture_kid_game_path(@game.kid, @game) do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </footer>
</div>
