<div class="container" data-controller="game">

  <h1><%= @game.name %></h1>

  <div class="card-sound" data-action="click->game#playSound">

    <audio src="<%= audio_path 'vermelho.mp3'%>" data-game-target="vermelho"></audio>
    <h5>VERMELHO
      <i class="fa-solid fa-play" data-action="click->game#playSound"></i>
    </h5>

  </div>

  <div class="cards">

    <div class="row">

      <div class="card col-4 mx-2">
        <p>Answer 1</p>
      </div>

      <div class="card col-4">
        <p>Answer 2</p>
      </div>

    </div>

    <div class="row mt-4">

      <div class="card col-4 mx-2">
        <p>Answer 3</p>
      </div>

      <div class="card col-4">
        <p>Answer 4</p>
      </div>

    </div>
  </div>

  <footer>
    <%= link_to lecture_kid_game_path(@game.kid, @game) do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </footer>
</div>
