.btn-brown{
  padding: 5px 20px;
  background-color: #74AA4F;
  box-shadow: 0px 5px 0px #6ea04d;
  border-radius: 10px;
  font-weight: lighter;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 10px;
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.btn-brown:active {
  box-shadow: none;
  transform: translateY(5px);
}

.add-icon {
  font-size: 48px;
  margin-top: 10px;
  text-decoration: none;
  padding: 5px 20px;
  background-color: white;
  box-shadow: 0px 5px 0px white;
  border-radius: 10px;
  color: #74AA4F;
  font-weight: bold;
  padding-top: 10px;
}

.add-icon:active {
  box-shadow: none;
  transform: translateY(5px);
}

.trash-icon {
  color: #74AA4F;
  font-size: 18px;
  padding-top: 15px;
  text-decoration: none;
  padding-bottom: 15px;
}
.kids-card {
  position: relative;
}
.delete-btn {
  position:absolute;
  bottom: -5px;
  right: 100px;
}

.logout {
  margin-left: 15px;
  font-size: 20px;
  color: #422917;
  font-weight: bold;
}

.form-btn {
  padding: 10px 10px;
  background-color: #b4914c;
  box-shadow: 1px 1px 10px gray;
  border-radius: 12px;
  font-weight: lighter;
  font-size: 24px;
  color: #f0dcb4;
  font-weight: bold;
  margin-top: 60px;
}

a {
  text-decoration: none;
}

.game-btn {
  padding: 5px 54px;
  padding-left: 30px;
  background-color: #74AA4F;
  box-shadow: 0px 5px 0px #6ea04d;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-top: 50px;
  padding-top: 10px;
  margin-right: 300px;
  margin-left: 140px;
}
