.btn-brown{
  padding: 10px 20px;
  width: 150px;
  background-color: #b4914c;
  box-shadow: 1px 1px 10px gray;
  border-radius: 12px;
  font-weight: lighter;
  font-size: 24px;
  color: #f0dcb4;
  font-weight: bold;
  margin-top: 60px;
}

.add-icon {
  padding: 10px 25px;
  width: 150px;
  background-color: #b4914c;
  box-shadow: 1px 1px 10px gray;
  border-radius: 12px;
  font-weight: lighter;
  font-size: 16px;
  color: #f0dcb4;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
}

.form-btn {
  padding: 10px 10px;
  width: 150px;
  background-color: #b4914c;
  box-shadow: 1px 1px 10px gray;
  border-radius: 12px;
  font-weight: lighter;
  font-size: 24px;
  color: #f0dcb4;
  font-weight: bold;
  margin-top: 60px;
}
