.btn-brown{
  padding: 5px 20px;
  background-color: #fcf1e0;
  box-shadow: 1px 1px 5px #b4914c;
  border-radius: 10px;
  font-weight: lighter;
  font-size: 20px;
  color: #be8616;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 10px;
}

.add-icon {
  color: #b4914c;
  font-size: 48px;
  margin-top: 20px;
  text-decoration: none;
}

.trash-icon {
  color: #b4914c;
  font-size: 18px;
  padding-top: 15px;
  text-decoration: none;
  padding-bottom: 15px;
}
.kids-card {
  position: relative;
}
.delete-btn {
  position:absolute;
  bottom: -5px;
  right: 100px;
}

.logout {
  margin-left: 15px;
  font-size: 20px;
  color: #422917;
  font-weight: bold;
}

.form-btn {
  padding: 10px 10px;
  background-color: #b4914c;
  box-shadow: 1px 1px 10px gray;
  border-radius: 12px;
  font-weight: lighter;
  font-size: 24px;
  color: #f0dcb4;
  font-weight: bold;
  margin-top: 60px;
}

a {
  text-decoration: none;
}

.game-btn {
  padding: 5px;
  background-color: #fcf1e0;
  box-shadow: 1px 1px 5px #b4914c;
  border-radius: 10px;
  font-weight: lighter;
  font-size: 20px;
  color: #be8616;
  font-weight: bold;
  margin-top: 170px;
  margin-right: 200px;
}
