.card-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 120px;
  padding: 20px;
  align-items: center;
  width: 25%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 80px;
}

.card-avatar {
  background-color: white;
  border-radius: 120px;
  text-align: center;
  border-color: black;
  align-items: center;
  margin-bottom: 20px;
}

.kids-card {
 color: #422917;
}

.card-level {
  border-radius: 40px;
  background-color: rgba($color: #FFFCE2, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 140px;

  h2 {
    color:#be8616;
    font-size: 34px;
  }
}

.card-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-game {
  width: 90px;
  height: 70px;
  border-radius: 30px;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 1px 1px 3px gray;
  background-color: #80bc56
}

.game-card {
  animation: scalegame .1s .1s 3;
  -moz-animation: scalegame .1s .1s 3;
  -webkit-animation: scalegame .1s .1s 3;
  -o-animation: scalegame .1s .1s 3;
}

@keyframes scalegame {
  0% { scale: 1; }
  50% { scale: 1.3; }
  100% { scale: 1; }
}

@-moz-keyframes scalegame {
  0% { scale: 1; }
  50% { scale: 1.3; }
  100% { scale: 1; }
}

@-webkit-keyframes scalegame {
  0% { scale: 1; }
  50% { scale: 1.3; }
  100% { scale: 1; }
}

@-o-keyframes scalegame {
  0% { scale: 1; }
  50% { scale: 1.3; }
  100% { scale: 1; }
}

.card-carousel {
  padding: 20px;
  border-radius: 40px;
  background-color: rgba($color: #FFFCE2, $alpha: 0.3);
  height: 200px;
  margin-top: 150px;
  border-left: none;
  border-right: none;
  margin-bottom: 80px;
}

.card-info {
  padding: 30px;
}
