.card-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 120px;
  padding: 20px;
  align-items: center;
  width: 25%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 80px;
}

.card-avatar {
  background-color: white;
  border-radius: 120px;
  text-align: center;
  border-color: black;
  align-items: center;
  margin-bottom: 20px;
}

.kids-card {
 color: #422917;
}

.card-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 233, 108);
  border-radius: 10px;
  padding: 40px;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.card-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 80px;
}
