.card-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 120px;
  padding: 20px;
  align-items: center;
  width: 25%;
  margin: auto;
  margin-bottom: 20px;
}

.card-avatar {
  background-color: white;
  border-radius: 120px;
  text-align: center;
  border-color: black;
  align-items: center;
  margin-bottom: 20px;
}
