.map {
  background-image: url('map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

#gameColors {
  position: absolute;
  top: 520px;
  left: 265px;
  font-size: 30px;
  text-decoration: none;

}

#gameAnimals {
  position: absolute;
  top: 350px;
  left: 160px;
  font-size: 30px;
  text-decoration: none;

}

#gameFruits {
  position: absolute;
  top: 215px;
  left: 292px;
  font-size: 30px;
  text-decoration: none;

}

#gameVerbs {
  position: absolute;
  top: 150px;
  left: 80px;
  font-size: 30px;
  text-decoration: none;

}

.played {
  filter: drop-shadow(1px 1px 10px yellow);
}

.blocked-game {
  filter: drop-shadow(1px 1px 16px rgb(85, 84, 84));
}

#current-game {
  animation: scalechest 1.2s .3s infinite;
  -moz-animation: scalechest 1.2s .3s infinite;
  -webkit-animation: scalechest 1.2s .3s infinite;
  -o-animation: scalechest 1.2s .3s infinite;
  filter: drop-shadow(1px 1px 16px yellow);
}

@keyframes scalechest {
  0% { scale: 1; }
  50% { scale: 1.5; }
  100% { scale: 1; }
}

@-moz-keyframes scalechest {
  0% { scale: 1; }
  50% { scale: 1.5; }
  100% { scale: 1; }
}

@-webkit-keyframes scalechest {
  0% { scale: 1; }
  50% { scale: 1.5; }
  100% { scale: 1; }
}

@-o-keyframes scalechest {
  0% { scale: 1; }
  50% { scale: 1.5; }
  100% { scale: 1; }
}

#boat {
  position: absolute;
  top: 20px;
  left: 70px;
  animation: moveBoat 10s ease-in-out infinite,
}

@keyframes moveBoat {
  0% {
    transform: translateX(-50px) rotate3d(0, 1, 0, 180deg);
  }

  50% {
    transform: translateX(200px) rotate3d(0, 1, 0, 180deg);
  }

  51% {
    transform: translateX(200px) rotate3d(0, 0, 0, 0deg);
  }

  99% {
    transform: translateX(-50px) rotate3d(0, 0, 0, 0deg);
  }

  100% {
    transform: translateX(-50px) rotate3d(0, 1, 0, 180deg);
  }
}
