.map {
  background-image: url('map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 778px;
  overflow: hidden;
  position: relative;
}

#gamecolors {
  position: absolute;
  top: 570px;
  left: 275px;
  font-size: 30px;
  text-decoration: none;

}

#gameanimals {
  position: absolute;
  top: 380px;
  left: 230px;
  font-size: 30px;
  text-decoration: none;

}

#gameobjects {
  position: absolute;
  top: 230px;
  left: 300px;
  font-size: 30px;
  text-decoration: none;

}

#gameverbs {
  position: absolute;
  top: 170px;
  left: 70px;
  font-size: 30px;
  text-decoration: none;

}

.played {
  filter: drop-shadow(1px 1px 10px yellow);
}

.blocked-game {
  filter: drop-shadow(1px 1px 16px rgb(85, 84, 84));
}
#current-game {
  animation: scalechest 1.2s .3s infinite;
  -moz-animation: scalechest 1.2s .3s infinite;
  -webkit-animation: scalechest 1.2s .3s infinite;
  -o-animation: scalechest 1.2s .3s infinite;
  filter: drop-shadow(1px 1px 16px yellow);
}

@keyframes scalechest {
  0% { scale: 1; }
  50% { scale: 1.5; }
  100% { scale: 1; }
}

@-moz-keyframes scalechest {
  0% { scale: 1; }
  50% { scale: 1.5; }
  100% { scale: 1; }
}

@-webkit-keyframes scalechest {
  0% { scale: 1; }
  50% { scale: 1.5; }
  100% { scale: 1; }
}

@-o-keyframes scalechest {
  0% { scale: 1; }
  50% { scale: 1.5; }
  100% { scale: 1; }
}
