.map {
  background-image: url('map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 778px;
  overflow: hidden;
  position: relative;
}

#gamecolors {
  position: absolute;
  top: 570px;
  left: 275px;
  font-size: 30px;
  text-decoration: none;
}

#gameanimals {
  position: absolute;
  top: 380px;
  left: 240px;
  font-size: 30px;
  text-decoration: none;
}

#gameobjects {
  position: absolute;
  top: 230px;
  left: 310px;
  font-size: 30px;
  text-decoration: none;
}

#gameverbs {
  position: absolute;
  top: 170px;
  left: 80px;
  font-size: 30px;
  text-decoration: none;
}
